@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.post-header {
  @apply font-bold text-xl mb-2 hover:text-softOrange;
}

.post-body {
  @apply text-grayishBlue text-lg mb-3;
}

.post {
  @apply border-grayishBlue mb-10 border-b-2 pb-5;
}

.menu-item {
  @apply hover:text-softRed;
}

.hero-img {
  background-image: url('../images/image-web-3-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

@media (min-width: 430px) {
  .hero-img {
    background-image: url('../images/image-web-3-desktop.jpg');
  }
}
